function getBandname() {
	$.ajax({
		url: 'http://localhost:3000/bandname.json',
		success: function(data){
			var newclass = $('.bandname').last().hasClass('even') ? 'odd' : 'even';
			$('#bandnames').append('<div class="bandname ' + newclass + '">' + data['bandname'] + '</div>')
			$('.bandname').first().hide(300).remove();
		}
	});
}

$(function(){
	setInterval( getBandname, 4000 );
})