// Place all the styles related to the bandname controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
	margin: 0px;
	padding: 0px;
}

#bandnames_container {
	margin-top: 20px;
	height: 400px;
	width: 350px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#bandnames {
	width: 300px;
	height: 350px;
	border: black solid 25px;
	overflow: hidden;	
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;	
	font-family : Helvetica, Arial, sans-serif;
	font-weight: bold;

	.even { background-color: #CCC; }
	
	.odd { background-color: #DDD; }
	
	.bandname {
		padding: 10px;
	}
}

#bandnames_overlay {
	width: 300px;
	height: 350px;
	background-image: url('/assets/overlay.png');
	position: relative;
	top: -375px;
	z-index: 2;
	left: 25px;
}